<section class="row">
<div id="speed" class="ldBar" data-value="50" data-min="0" data-max="255">
Speed
</div>
<div id="rpm" class="ldBar" data-value="50" data-min="0" data-max="9000">
RPM
</div>
</section>
